<html >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
 
<body>
        <header class="head-simple">
            <div class="container">
                <h1 class="page-title text-center text-white ">
                    <span class="text-red-300 font-bold"> Get in touch ! Vous avez une question, un commentaire ou vous voulez simplement dire bonjour ? Envoyez-nous un message !</span>
                </h1>
            </div>
        </header>
        <!-- Contact Form -->
        <section class="section destination-card bg-transparent p-4 shadow-md rounded-lg">
            <div class="container ">
                <form class="contact-form" action="#" method="POST"> <!-- Vous devez spécifier l'URL de traitement du formulaire dans l'attribut "action" -->
                    <fieldset class="topspace">
                        <div class="row">
                            <div class="col-sm-4 col-sm-push-2">
                                <div class="form-group">
                                    <label for="f-name" class="sr-only">Full name:</label>
                                    <input class="form-control" id="f-name" name="f-name" type="text" placeholder="Nom et Prénom*">
                                </div>
                            </div>
                            <div class="col-sm-4 col-sm-push-2">
                                <div class="form-group">
                                    <label for="f-email" class="sr-only">Email:</label>
                                    <input class="form-control" id="f-email" name="f-email" type="email" placeholder="Email*">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="row">
                            <div class="col-sm-4 col-sm-push-2">
                                <div class="form-group">
                                    <label for="f-reason" class="sr-only">Je veux:</label>
                                    <div class="select-control">
                                        <select size="1" id="f-reason" name="f-reason" class="form-control">
                                            <option value>Je veux:</option>
                                            <option value="quote">Demander un prix</option>
                                            <option value="partner">Discuter des opportunités de partenariat</option>
                                            <option value="support">Obtenir un support client</option>
                                            <option value="other">Autre</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-sm-push-2">
                                <div class="form-group">
                                    <label for="f-sujet" class="sr-only">Sujet*</label>
                                    <input class="form-control" id="f-sujet" name="f-sujet" type="text" placeholder="Sujet*">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="topspace">
                        <div class="row">
                            <div class="col-sm-8 col-sm-push-2">
                                <div class="form-group">
                                    <label for="f-description" class="sr-only">Message</label>
                                    <textarea class="form-control" id="f-description" name="f-description" rows="5" cols="40" placeholder="Message*"></textarea>
                                </div>
                                <div class="form-group text-right">
                                    <button type="submit" class="btn btn-primary">Get in touch</button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </section>
        <!-- Footer -->
        <footer id="footer">
            <div class="footer1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 widget">
                            <h3 class="widget-title text-rose-800">Contact</h3>
                            <div class="widget-body">
                                <p class='text-pink-950 font-bold'>+21650026634 <br></p>
                                <a href="/cdn-cgi/l/email-protection#5172"><span class="__cf_email__" data-cfemail="d7a4b8bab2f9b2bab6bebb97a4b8bab2a0bfb2a5b2f9b4b8ba">[email&#160;sécurisé]</span></a><br>
                                <br>
                                <p class='text-pink-950 font-bold'> Avenue Habib Bourguiba Marsa Plage 2078.</p>
                            </div>
                        </div>
                        <div class="col-md-3 widget">
                            <h3 class="widget-title text-rose-800 font-bold">Suivez-nous</h3>
                            <div class="widget-body">
                                <p class="follow-me-icons clearfix">
                                    <a href="#"><i class="fa fa-twitter fa-2"></i></a>
                                    <a href="#"><i class="fa fa-dribbble fa-2"></i></a>
                                    <a href="#"><i class="fa fa-github fa-2"></i></a>
                                    <a href="#"><i class="fa fa-facebook fa-2"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="assets/js/headroom.min.js"></script>
    <script src="assets/js/jQuery.headroom.min.js"></script>
    <script src="assets/js/template.js"></script>
</body>
